@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

:root {
    --pupler: #4a154b;
    --white: #fff;
    --dark: #333;
    --green: #11780f;
    --red: #d2300c;
    --grey: #d9d9d9;
    --dark-transparent: rgba(255, 255, 255, .5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark);
}

.container {
    position: absolute;
    width: 360px;
    min-height: 650px;
    background: var(--white);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.none {
    display: none;
}

#winner, #loser {
    color: var(--white);
    background-color: var(--pupler);
}

.end-screen h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.end-screen button {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}